## Importing Modules and Reading Data-set

In [1]:
import pandas as pd

In [2]:
AMK_Data = pd.read_csv('AMK_Data.csv')
Changi_Data = pd.read_csv('Changi_Data.csv')
MB_Data = pd.read_csv('MB_Data.csv')
PL_Data = pd.read_csv('PL_Data.csv')
Tengah_Data = pd.read_csv('Tengah_Data.csv')
new_dict = {1:AMK_Data, 2:Changi_Data, 3:MB_Data, 4:PL_Data, 5:Tengah_Data}
for i in new_dict.items():
    i[1].drop('Unnamed: 0', axis = 1)
Tengah_Data

,Unnamed: 0,Station,Year,Month,Day,Daily Rainfall Total (mm),Highest 30 min Rainfall (mm),Highest 60 min Rainfall (mm),Highest 120 min Rainfall (mm),Mean Temperature (°C),Maximum Temperature (°C),Minimum Temperature (°C),Mean Wind Speed (km/h),Max Wind Speed (km/h)
0,0,Tengah,2021,9,1,0.0,0.0,0.0,0.0,-,32.6,23.8,-,38.9
1,1,Tengah,2021,9,2,51.0,17.9,23.3,41.4,-,28.9,24.2,-,20.4
2,2,Tengah,2021,9,3,0.0,0.0,0.0,0.0,-,33.2,25.0,-,16.7
3,3,Tengah,2021,9,4,37.8,28.9,35.4,37.4,-,33.8,25.3,-,51.9
4,4,Tengah,2021,9,5,0.0,0.0,0.0,0.0,-,34.1,24.8,-,31.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,26,Tengah,2022,8,27,25.7,11.9,15.8,23.4,25.4,30.8,23.0,4.8,20.4
361,27,Tengah,2022,8,28,1.4,1.0,1.0,1.0,26.3,30.4,23.4,5.2,27.0
362,28,Tengah,2022,8,29,2.4,1.2,2.0,2.4,26.2,29.9,24.1,5.6,20.3
363,29,Tengah,2022,8,30,1.0,0.6,0.6,0.8,26.8,29.6,25.1,5.9,20.1
364,30,Tengah,2022,8,31,0.0,0.0,0.0,0.0,27.7,32.4,24.1,6.0,22.5

In [3]:
monocrystal_res = []
polycrystal_res = []
thinfilm_res = []
monocrystal_com = []
polycrystal_com = []
thinfilm_com = []
# Area for Commercial Solar Panels = 1.636141m^2 [ 1.9812m width, 0.9906m height ]
# Area for Residential Solar Panels = 1.962577m^2 [ 1.651m width, 0.9906m height ]

Comment
- Creating Lists for the different type of solar panels

## The Different Effiency Rate of Solar Panels
>Monocrystal Solar Panels have an efficiency rate of 20% on average

>Polycrystal Solar Panels have an efficiency rate of 15-17%, or 16% on average

>Thin-Film Solar Panels have an efficiency rate of 10%-13%, or 11.5% on average

## Equation to determine Efficiency of Solar Panels

$$ E = A * r * H * PR $$

- E - Energy(kWh)
- A - Area of Panel(^2)
- r - Solar Panel Yield(Ratio of electrical power of one solar panel/Area of one panel)
- H - Annual Average solar radiation on tilted panels
- PR - Energy measured (kWh)/(Irradiance(kWh/m2) on the panel x Active area of PV module(m2) x PV module efficiency

Comments
- Performance Ratios of both Commercial and Residential Solar Panels can be taken to be a constant 73.41%

- In order to maximise efficiency, the panel should be facing the North-South direction, as stated by the Building and Construction Authority of Singapore

- We define AMK to be North, MB is South, Changi is East, Paya Lebar is Central and Tengah is West

- Assume that AMK gets an average of 11 hours of sunlight a day, MB gets 10 hours, Changi gets 8 hours, Paya Lebar gets 9 hours, and Tengah gets 7 hours

## Area Measurements

>Area for Commercial Solar Panels = 1.636141m^2

>Area for Residential Solar Panels = 1.962577m^2

In [4]:
Efficiency = pd.DataFrame(columns = ['North', 'South', 'East', 'West', 'Central'])

In [5]:
# Efficiency data calculated based on expected solar irradiation on different regions
# Using a Performance Ratio Constant of 73.41%, we take the energy output to be 73.41% of the values in the Efficiency DataFrame
PR = 0.7341
A = 1.636141
H_North = 1610
H_South = 1580
H_East = 1600
H_West = 1570
H_Central = 1590
r = 0.20
Efficiency.at['Energy output over a period of 1 Year, By Region(kWh)', 'North'] = A * PR * H_North * r
Efficiency.at['Energy output over a period of 1 Year, By Region(kWh)','South'] = A * PR * H_South * r
Efficiency.at['Energy output over a period of 1 Year, By Region(kWh)','East'] = A * PR * H_East * r
Efficiency.at['Energy output over a period of 1 Year, By Region(kWh)','Central'] = A * PR * H_Central * r
Efficiency.at['Energy output over a period of 1 Year, By Region(kWh)','West'] = A * PR * H_West * r
Efficiency

,North,South,East,West,Central
"Energy output over a period of 1 Year, By Region(kWh)",386.751337,379.54479,384.349155,377.142608,381.946972

In [6]:
MoneySaved = pd.DataFrame(columns = ['Per Day', 'Per Month', 'Per Year'], index = ['North', 'South', 'East', 'West', 'Central'])
# Average cost of electricity in Singapore is 32.28 cents per kWh
cost = 32.28
# Energy output over a period of 1 year, assuming 73.41% conversion of sunlight to electricity is described in Efficiency DataFrame
energy_North = Efficiency.iloc[0,0] # This is taken for the North Region
energy_South = Efficiency.iloc[0,1]
energy_East = Efficiency.iloc[0,2]
energy_West = Efficiency.iloc[0,3]
energy_Central = Efficiency.iloc[0,4]
# We multiply the hours of sunlight obtained on average, over the course of 1 year, the energy output specific to each Region
actual_energy_North = energy_North * 11 
actual_energy_South = energy_South * 10
actual_energy_East = energy_East * 8
actual_energy_West = energy_West * 9
actual_energy_Central = energy_Central * 7
# We divide the value obtained by; 365 to obtain power generated in one day, 30 to obtain power generated in one month

actual_energy_day_North = actual_energy_North / 365
actual_energy_month_North = actual_energy_day_North * 30
actual_energy_year_North = actual_energy_month_North * 12

actual_energy_day_South = actual_energy_South / 365
actual_energy_month_South = actual_energy_day_South * 30
actual_energy_year_South = actual_energy_month_South * 12

actual_energy_day_East = actual_energy_East / 365
actual_energy_month_East = actual_energy_day_East * 30
actual_energy_year_East = actual_energy_month_East * 12

actual_energy_day_West = actual_energy_West / 365
actual_energy_month_West = actual_energy_day_West * 30
actual_energy_year_West = actual_energy_month_West * 12

actual_energy_day_Central = actual_energy_Central / 365
actual_energy_month_Central = actual_energy_day_Central * 30
actual_energy_year_Central = actual_energy_month_Central * 12


# We then multiply each of the aforementioned values by 32.28 cents to obtain money saved through the Solar Panels
cost_saved_day_North = actual_energy_day_North * cost / 100
cost_saved_month_North = actual_energy_month_North * cost / 100
cost_saved_year_North = actual_energy_year_North * cost / 100

cost_saved_day_South = actual_energy_day_South * cost / 100
cost_saved_month_South = actual_energy_month_South * cost / 100
cost_saved_year_South = actual_energy_year_South * cost / 100

cost_saved_day_East = actual_energy_day_East * cost / 100
cost_saved_month_East = actual_energy_month_East * cost / 100
cost_saved_year_East = actual_energy_year_East * cost / 100

cost_saved_day_West = actual_energy_day_West * cost / 100
cost_saved_month_West = actual_energy_month_West * cost / 100
cost_saved_year_West = actual_energy_year_West * cost / 100

cost_saved_day_Central = actual_energy_day_Central * cost / 100
cost_saved_month_Central = actual_energy_month_Central * cost / 100
cost_saved_year_Central = actual_energy_year_Central * cost / 100



MoneySaved.at['North', 'Per Day'] = cost_saved_day_North
MoneySaved.at['North', 'Per Month'] = cost_saved_month_North
MoneySaved.at['North', 'Per Year'] = cost_saved_year_North
MoneySaved.at['South', 'Per Day'] = cost_saved_day_South
MoneySaved.at['South', 'Per Month'] = cost_saved_month_South
MoneySaved.at['South', 'Per Year'] = cost_saved_year_South
MoneySaved.at['East', 'Per Day'] = cost_saved_day_East
MoneySaved.at['East', 'Per Month'] = cost_saved_month_East
MoneySaved.at['East', 'Per Year'] = cost_saved_year_East
MoneySaved.at['West', 'Per Day'] = cost_saved_day_West
MoneySaved.at['West', 'Per Month'] = cost_saved_month_West
MoneySaved.at['West', 'Per Year'] = cost_saved_year_West
MoneySaved.at['Central', 'Per Day'] = cost_saved_day_Central
MoneySaved.at['Central', 'Per Month'] = cost_saved_month_Central
MoneySaved.at['Central', 'Per Year'] = cost_saved_year_Central
MoneySaved

          Per Day   Per Month     Per Year
North    3.762402  112.872053  1354.464638
South    3.356632  100.698952  1208.387424
East     2.719297   81.578898   978.946774
West     3.001849   90.055455  1080.665462
Central  2.364513   70.935401   851.224812